* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.search-container {
    margin-bottom: 20px;
}

#cityInput {
    padding: 10px;
    width: 220px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchBtn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

#searchBtn:hover {
    background-color: #31ec0b;
    color: black;
}

.weather-card {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cityName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#weatherIcon {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

#temperature {
    font-size: 48px;
    margin-bottom: 10px;
}

#description {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.extra-info {
    font-size: 14px;
    color: #555;
}

.extra-info p {
    margin: 5px 0;
}